
@{
    ViewBag.Title = "下架商品";
    Layout = "~/Views/Shared/ParentView.cshtml";
}
<script src="~/Scripts/ueditor/jquery-form.js"></script>
<script src="~/Scripts/ueditor/ueditor-upload.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/layer-v3.1.1/layer/layer.js"></script>
<h2>下架商品</h2>
<table>
    <tr>
        <td>商品图片</td>
        <td><input id="txtPhoto" type="text" /></td>
    </tr>
    <tr>
        <td>商品名称</td>
        <td><input id="txtName" type="text" /></td>
    </tr>
    <tr>
        <td>商品简介</td>
        <td><textarea id="txtJianjie" rows="3" cols="40"></textarea></td>
    </tr>
    <tr>
        <td>商品数量</td>
        <td><label id="LbNum"></label></td>
    </tr>
    <tr>
        <td>商品价格</td>
        <td><input id="txtPrice" type="text" /></td>
    </tr>
    <tr>
        <td>商品分类</td>
        <td>
            <select id="SelFenLei">
                <option></option>

            </select>
        </td>
    </tr>
    <tr>
        <td>商品状态</td>
        <td><label id="LbState"></label></td>
    </tr>
    <tr>
        <td><input id="btnAdd" type="button" value="添加" onclick="Add()" /></td>
    </tr>
</table>
<script>
    $(function () {
        $.ajax({
            url: '',
            type: 'post',
            data: {},
            dataType: 'json',
            success: function (data) {
                $("#SelFenLei").append("<option value='" + data[i].Id + "'>" + data[i].GoodTypeName + "</option>");
            }
        })
    })
    $(function () {
        $("txtPhoto").upload("/Scripts/ueditor/net/");
    })
    function down(id) {
        
    }
    function Backs() {
        setTimeout(function () {
            $.ajax({
                async: false,
                url: '',
                success: function (data) {
                    $("#min").html(data);
                }
            })
        }, 500)
    }
</script>


























@*<input class="ke-input-text" type="text" id="txtPhoto" readonly="readonly" />
    <input type="button" id="uploadButton" value="Upload" />
    <script type="text/javascript">
        $(function () {
            $('.inp_fileToUpload').change(function () {
                var formdata = new FormData();
                var v_this = $(this);
                var fileObj = this.get(0).files;
                url = "/upload/upload_json.ashx";
                //var fileObj=document.getElementById("fileToUpload").files;   formdata.append("imgFile", fileObj[0]);
                jQuery.ajax({
                    url: url,
                    type: 'post',
                    data: formdata,
                    cache: false,
                    contentType: false,
                    processData: false,
                    dataType: "json",
                    success: function (data) {
                        if (data.error == 0) {
                            v_this.parent().children(".img_upload").attr("src", data.url);
                            //$("#img").attr("src",data.url);
                        }
                    }
                });
                return false;
            });
        });
    </script>*@
