
@{
    ViewBag.Title = "仓库中的宝贝";
    Layout = "~/Views/Shared/ParentView.cshtml";
}

<!DOCTYPE html>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/JS/bootstrap.js"></script>

<html>
<head>
</head>
<body>
    <div style="margin-top:70px;margin-left:300px">
        <h1>仓库中的宝贝</h1>
        <input id="txtsel" type="text" class="control-label col-md-2" />
        <input id="ButSel" type="button" value="搜索" class="btn btn-default" onclick="sel()" />
        <input id="ButAdd" type="button" value="添加" class="btn btn-default" onclick="add()" />

        <table class=" table table-responsive">
            <thead>
                <tr>
                    <th>商品id</th>
                    <th>商品图片</th>
                    <th>商品名称</th>
                    <th>商品简介</th>
                    <th>商品销售量</th>
                    <th>商品数量</th>
                    <th>商品价格</th>
                    <th>商品类型</th>
                    <th>商品状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="tb"></tbody>
        </table>
    </div>
</body>
</html>
<script>
    function LoadData(str) {
        $.ajax({
            url: 'http://localhost:54217/api/GoodsInfo/SelectPart?str=' + str + '&Pageindex=1&Pagesize=5&state=2',
            type: 'get',
            dataType: 'text',
            success: function (data) {
                $("#tb").empty();
                var newdata = JSON.parse(JSON.parse(data));
                for (var i = 0; i < newdata.length; i++) {
                    $("#tb").append("<tr><td>" + newdata[i].GoodId + "</td><td><img src=" + newdata[i].GoodPhotoPath + " style='width:80px;height:80px' alt='Alternate Text' /></td><td>" + newdata[i].GoodName + "</td><td>" + newdata[i].GoodInfo + "</td><td>" + newdata[i].GoodSellSum + "</td><td>" + newdata[i].GoodSum + "</td><td>" + newdata[i].GoodPrice + "</td><td>" + newdata[i].GoodTypeName + "</td><td>" + (newdata[i].GoodState == 1 ? "上架" : "下架") + "</td><td><input id='btnEdit' type='button' class='btn btn-default' value='编辑' onclick='edit(" + newdata[i].GoodId + ")' /><input id='btnDel' type='button' class='btn btn-default' value='上架' onclick='Up(" + newdata[i].GoodId + ")' /><input id='btnDel' type='button' class='btn btn-default' value='删除' onclick='del(" + newdata[i].GoodId + ")' /></tr>");
                }
            }
        });
    }
    $(function () {
        LoadData("");
    });
    function add() {
        location.href = "/GoodsInfo/Addgood";
    }
    function Up(id) {
        if (confirm("确认上架么？")) {
            $.ajax({
                url: 'http://localhost:54217/api/GoodsInfo/GoodStateUpt?id=' + id + '&state=1',
                type: 'post',
                dataType: 'text',
                success: function (data) {
                    if (data > 0) {
                        alert("上架成功");
                        location.reload();
                    }
                    else {
                        alert("上架失败");
                    }
                }
            });
        }
    } function del(id) {
        if (confirm("确认删除么？")) {
            $.ajax({
                url: 'http://localhost:54217/api/GoodsInfo/GoodStateUpt?id=' + id + '&state=0',
                type: 'post',
                dataType: 'text',
                success: function (data) {
                    if (data > 0) {
                        alert("删除成功");
                        location.reload();
                    }
                    else {
                        alert("删除失败");
                    }
                }
            });
        }
    }
    function edit(id) {
        location.href = "/GoodsInfo/Updgoods/" + id;
    }
    function sel() {
        var txtsel = $("#txtsel").val();
        LoadData(txtsel);
    }
    $(function () {
        $.ajax({
            url: 'http://localhost:54217/api/GoodType/TypeList',
            type: 'get',
            data: {},
            dataType: 'json',
            success: function (data) {
                var newdata = JSON.parse(data);
                for (var i = 0; i < newdata.length; i++) {
                    $("#Select1").append("<option value='" + newdata[i].GoodTypeId + "'>" + newdata[i].GoodTypeName + "</option>");
                }
            }
        })
    })
</script>


