
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Showgoods</title>
</head>
<body>
    <div>
        <input id="ButAdd" type="button" value="添加" class="btn btn-default" onclick="add()" />
        <input id="txtsel" type="text" />
        <input id="ButSel" type="button" value="搜索" class="btn btn-default" onclilc="sel()" />
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>商品id</td>
                    <td>商品图片</td>
                    <td>商品名称</td>
                    <td>商品简介</td>
                    <td>商品数量</td>
                    <td>商品销售量</td>
                    <td>商品价格</td>
                    <td>商品类型</td>
                    <td>商品状态</td>
                    <td>添加时间</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody id="tb">
                @*<tr><td>" + data[i].GoodId + "</td><td>" + data[i].GoodPhotoPath + "</td><td>" + data[i].GoodName + "</td><td>" + data[i].GoodInfo + "</td><td>" + data[i].GoodSellSum + "</td><td>" + data[i].GoodSum + "</td><td>" + data[i].GoodPrice + "</td><td>" + data[i].GTID + "</td><td>" + (data[i].GoodState == true ? "上架" : "下架") + "</td><td>" + data[i].GoodCreateTime + "</td><td><input id='btnEdit' type='button' class='btn btn-default' value='编辑' onclick='edit(" + data[i].GoodId + ")' /><input id='btnEdit' type='button' class='btn btn-default' value='删除' onclick='del(" + data[i].GoodId + ")' /></tr>*@
            </tbody>
        </table>
    </div>
</body>
</html>
<script>
    $(function () {
        $.ajax({
            url: 'http://localhost:54217/api/GoodsInfo/SelectPart?str=&Pageindex=1&Pagesize=5&state=2',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    $("#tb").append("<tr><td>" + data[i].GoodId + "</td><td>" + data[i].GoodPhotoPath + "</td><td>" + data[i].GoodName + "</td><td>" + data[i].GoodInfo + "</td><td>" + data[i].GoodSellSum + "</td><td>" + data[i].GoodSum + "</td><td>" + data[i].GoodPrice + "</td><td>" + data[i].GoodTypeName + "</td><td>" + (data[i].GoodState == true ? "上架" : "下架") + "</td><td>" + data[i].GoodCreateTime + "</td><td><input id='btnEdit' type='button' class='btn btn-default' value='编辑' onclick='edit(" + data[i].GoodId + ")' /><input id='btnDel' type='button' class='btn btn-default' value='删除' onclick='del(" + data[i].GoodId + ")' /></tr>");
                }
            }
        });
    });
    function add() {
        location.href = "/GoodsInfo/Addgoods";
    }
    function del(id) {
        if (confirm("确认删除么？")) {
            $.ajax({
                url: 'http://localhost:54217/api/GoodsInfo/GoodStateUpt?id=' + id+'&state=0',
                type: 'post',
                dataType: 'text',
                success: function (data) {
                    if (data > 0) {
                        alert("删除成功");
                        location.reload();
                    }
                    else {
                        alert("删除失败");
                    }
                }
            });
        }
    }
    function edit(id) {
        location.href = "/GoodsInfo/Addgoods"+id;
    }
    function sel() {
        var txtsel = $("txtsel").val();
        $.ajax({
            url: '',
            type: 'get',
            data: { GoodName:txtsel},
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    $("#tb").append("<tr><td>" + data[i].GoodId + "</td><td>" + data[i].GoodPhotoPath + "</td><td>" + data[i].GoodName + "</td><td>" + data[i].GoodInfo + "</td><td>" + data[i].GoodSellSum + "</td><td>" + data[i].GoodSum + "</td><td>" + data[i].GoodPrice + "</td><td>" + data[i].GTID + "</td><td>" + (data[i].GoodState == true ? "上架" : "下架") + "</td><td>" + data[i].GoodCreateTime + "</td><td><input id='btnEdit' type='button' class='btn btn - default' value='编辑' onclick='edit(" + data[i].GoodId + ")' /><input id='btnDel' type='button' class='btn btn - default' value='删除' onclick='del(" + data[i].GoodId + ")' /></tr>");
                }
            }
        })
    }
</script>
