
@{
    ViewBag.Title = "ShowSales";
    Layout = "~/Views/Shared/ParentView.cshtml";
}

<link href="~/Scripts/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
<script src="~/Scripts/layui-v2.4.5/layui/layui.js"></script>

<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
        <tr>
            <th>用户名称</th>
            <th>商品名称</th>
            <th>订单号</th>
            <th>商品单价</th>
            <th>购买数量</th>
            <th>金额</th>
            <th>状态</th>
            <th>创建时间</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>贤心</td>
            <td>2016-11-29</td>
            <td>人生就像是一场修行</td>
            <td>许闲心</td>
            <td>2016-11-28</td>
            <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
            <td>许闲心</td>
            <td>2016-11-28</td>
        </tr>
        <tr>
        <tr>
            <td>贤心</td>
            <td>2016-11-29</td>
            <td>人生就像是一场修行</td>
            <td>许闲心</td>
            <td>2016-11-28</td>
            <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
            <td>许闲心</td>
            <td>2016-11-28</td>
        </tr>
        </tr>
    </tbody>
</table>